{{view App.MapView
       tweets=filteredTweets
       selectedTweet=selectedTweet }}

<div id="tweets">
  <span id="info">
    Displaying
    {{filteredTweets.length}}
    of
    {{content.length}}
  </span>

  {{ input
     placeholder="Filter"
     value=searchTerm }}

  <ul>
    {{#each tweet in filteredTweets}}
      <li {{bind-attr class="tweet.odd"}} {{action "selectTweet" tweet}} >
        <div>
          <div class="time">
            {{tweet.time}}
          </div>

          <div class="text">
            {{tweet.text}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
