{{view App.MapView
       tweetsBinding=filteredTweets
       selectedTweetBinding=selectedTweet }}

<div id="tweets">
  <span id="info">
    Displaying
    {{filteredTweets.length}}
    of
    {{content.length}}
  </span>

  {{ view Ember.TextField
     placeholder  = "Filter"
     valueBinding = searchTerm }}

  <ul>
    {{#each filteredTweets}}
      <li {{bindAttr class=odd}} {{action selectTweet this}} >
        <div>
          <div class="time">
            {{time}}
          </div>

          <div class="text">
            {{text}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
