<div class="row-fluid">
  <div id="stretchy" class="span12">
    {{!view TweetGlobe.ChartView }}
    {{view TweetGlobe.MapView }}
  </div>
</div>

<div id="tweetBar" class="row-fluid">

  <div class="span6">
    <h3>
      Tweets
      <small>({{TweetGlobe.tweetsController.filteredCount}} / {{TweetGlobe.tweetsController.count}})</small>
    </h3>
  </div>

  <div class="span6" id="tweetSearch">
    <form class="form-search float-right">
      {{view Ember.TextField valueBinding="TweetGlobe.tweetsController.searchTerm" class="input-medium search-query"}}
    </form>
  </div>

</div>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th style="width:20%">Name</th>
      <th style="width:150px">Country</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody id="tweets">
    {{#each TweetGlobe.tweetsController.filteredTweets}}
      <tr {{bindAttr class="highlighted isOdd:odd"}}>
        <td>{{name}}</td>
        <td>{{country}}</td>
        <td>{{text}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
