{{view App.MapView }}

<div id="tweets">
  <span id="info">
    Displaying
    {{App.tweetsController.filteredTweets.length}}
    of
    {{App.tweetsController.length}}
  </span>

  {{ view Ember.TextField
     placeholder="Filter"
     valueBinding="App.tweetsController.searchTerm" }}

  <ul>
    {{#each App.tweetsController.filteredTweets}}
      <li {{bindAttr class=odd}}>
        <div>
          <div class="time">
            {{time}}
          </div>

          <div class="text">
            {{text}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
