<div id="stretchy">
  {{!view App.ChartView }}
  {{view App.MapView }}
</div>

<div id="tweets">
  <span id="info">
    Displaying
    {{App.tweetsController.filteredTweets.length}}
    of
    {{App.tweetsController.length}}
  </span>

  {{ view Ember.TextField
     placeholder="Filter"
     valueBinding="App.tweetsController.searchTerm" }}

  <ul>
    {{#each App.tweetsController.filteredTweets}}
      <li>
        {{text}}
      </li>
    {{/each}}
  </ul>
</div>
